doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    title Random Quote Machine
    
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://code.getmdl.io/1.1.0/material.indigo-pink.min.css')
    
    link(rel='stylesheet', href='style.css')
    
  body
    div.random-quote-card-wide.mdl-card.mdl-shadow--8dp
      div.mdl-card__title
        h2.mdl-card__title-text Quotes<br>on DESIGN
        
      div.mdl-card__supporting-text
        p#quote-content Design is thinking made visual.
        h3#quote-title Saul Bass
        
      a#get-another-quote-button.mdl-button.ml-js-button.mdl-js-ripple-effect New Quote
      
      div.mdl-card__menu
        a(href='https://twitter.com/intent/tweet?text=', target='_blank')#tweet.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
          i.material-icons share
          
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(defer src='https://code.getmdl.io/1.1.0/material.min.js')
    script(src='script.js')
