body
  background-color #81C784

h2
  text-align right
  background-color #212121
  padding 10px 10px 10px 40px

h3
  color #757575

p
  color #bdbdbd

.random-quote-card-wide.mdl-card
  margin auto
  position absolute
  top 45px
  left 0
  right 0

.random-quote-card-wide > .mdl-card__title
  color #ffffff
  height 180px
  background url('https://images.unsplash.com/photo-1413896235942-39c2eb7cd584?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=d833406dd5dfcdf9c80a0bcb45b07b2d') center / cover

.random-quote-card-wide > .mdl-card__menu
  color #ffffff

.mdl-button
  background-color #81C784
  color #212121

.mdl-button:hover
  background-color #212121
  color #81C784

.mdl-button:active
  background-color #e8f5e9
